body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u2 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:50px;
  top:36px;
  width:37px;
  height:13px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:13px;
  top:36px;
  width:17px;
  height:13px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:300px;
  top:32px;
  width:5px;
  height:24px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:278px;
  top:20px;
  width:42px;
  height:42px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u10 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:21px;
  width:39px;
  height:42px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u12 {
  position:absolute;
  left:2px;
  top:13px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1px;
  top:63px;
  width:160px;
  height:504px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:504px;
}
#u14 {
  position:absolute;
  left:2px;
  top:244px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:189px;
  top:63px;
  width:130px;
  height:143px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u16 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:44px;
  top:20px;
  width:46px;
  height:43px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u18 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:63px;
  width:320px;
  height:152px;
  overflow:hidden;
}
#u19_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u21 {
  position:absolute;
  left:2px;
  top:59px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:84px;
  top:35px;
  width:152px;
  height:110px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:110px;
}
#u23 {
  position:absolute;
  left:2px;
  top:47px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u25 {
  position:absolute;
  left:2px;
  top:59px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:66px;
  top:36px;
  width:187px;
  height:110px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:110px;
}
#u27 {
  position:absolute;
  left:2px;
  top:47px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u29 {
  position:absolute;
  left:2px;
  top:59px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:77px;
  top:39px;
  width:165px;
  height:107px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:107px;
}
#u31 {
  position:absolute;
  left:2px;
  top:46px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u33 {
  position:absolute;
  left:2px;
  top:59px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:61px;
  top:37px;
  width:197px;
  height:109px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:109px;
}
#u35 {
  position:absolute;
  left:2px;
  top:46px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:152px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u19_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:134px;
}
#u37 {
  position:absolute;
  left:2px;
  top:59px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:85px;
  top:38px;
  width:150px;
  height:108px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:108px;
}
#u39 {
  position:absolute;
  left:2px;
  top:46px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:194px;
  width:320px;
  height:21px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:21px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:31px;
  top:251px;
  width:100px;
  height:59px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u43 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:193px;
  top:253px;
  width:94px;
  height:57px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:57px;
}
#u45 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:40px;
  top:374px;
  width:83px;
  height:45px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:45px;
}
#u47 {
  position:absolute;
  left:2px;
  top:14px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:180px;
  top:363px;
  width:118px;
  height:56px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:56px;
}
#u49 {
  position:absolute;
  left:2px;
  top:20px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:55px;
  top:478px;
  width:58px;
  height:56px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:56px;
}
#u51 {
  position:absolute;
  left:2px;
  top:20px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:205px;
  top:478px;
  width:73px;
  height:56px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:56px;
}
#u53 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:155px;
  top:215px;
  width:10px;
  height:358px;
}
#u54_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u54_end {
  position:absolute;
  left:-5px;
  top:341px;
  width:20px;
  height:18px;
}
#u54_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:358px;
}
#u55 {
  position:absolute;
  left:0px;
  top:210px;
  width:320px;
  height:10px;
}
#u55_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u55_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:329px;
  width:320px;
  height:10px;
}
#u56_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u56_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:448px;
  width:320px;
  height:10px;
}
#u57_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u57_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:567px;
  width:320px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u59 {
  position:absolute;
  left:161px;
  top:216px;
  width:159px;
  height:118px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:118px;
}
#u59_img.selected {
}
#u59.selected {
}
#u60 {
  position:absolute;
  left:2px;
  top:51px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:161px;
  top:335px;
  width:159px;
  height:118px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:118px;
}
#u61_img.selected {
}
#u61.selected {
}
#u62 {
  position:absolute;
  left:2px;
  top:51px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:161px;
  top:454px;
  width:159px;
  height:118px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:118px;
}
#u63_img.selected {
}
#u63.selected {
}
#u64 {
  position:absolute;
  left:2px;
  top:51px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1px;
  top:454px;
  width:159px;
  height:118px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:118px;
}
#u65_img.selected {
}
#u65.selected {
}
#u66 {
  position:absolute;
  left:2px;
  top:51px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:1px;
  top:335px;
  width:159px;
  height:118px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:118px;
}
#u67_img.selected {
}
#u67.selected {
}
#u68 {
  position:absolute;
  left:2px;
  top:51px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:1px;
  top:216px;
  width:159px;
  height:118px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:118px;
}
#u69_img.selected {
}
#u69.selected {
}
#u70 {
  position:absolute;
  left:2px;
  top:51px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
