body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:123px;
  top:339px;
  width:74px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:116px;
  top:355px;
  width:88px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:104px;
  width:320px;
  height:124px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:124px;
}
#u5 {
  position:absolute;
  left:2px;
  top:54px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:126px;
  width:320px;
  height:59px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:59px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:16px;
  top:314px;
  width:288px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u9 {
  position:absolute;
  left:122px;
  top:280px;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u10_img.disabled {
}
#u10.disabled {
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u9_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:120px;
  top:260px;
  width:81px;
  height:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:122px;
  top:358px;
  width:74px;
  height:20px;
  overflow:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u16_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:222px;
  width:320px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u22 {
  position:absolute;
  left:122px;
  top:78px;
  width:64px;
  height:11px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:11px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:260px;
  top:75px;
  width:47px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:-1px;
  top:64px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:13px;
  top:12px;
  width:9px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u30 {
  position:absolute;
  left:10px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:131px;
  top:191px;
  width:59px;
  height:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:21px;
  width:320px;
  height:44px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:50px;
  top:37px;
  width:37px;
  height:13px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:13px;
  top:37px;
  width:17px;
  height:13px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u39 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:300px;
  top:33px;
  width:5px;
  height:24px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:278px;
  top:21px;
  width:42px;
  height:42px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u43 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  height:42px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u45 {
  position:absolute;
  left:2px;
  top:13px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1px;
  top:64px;
  width:160px;
  height:504px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:504px;
}
#u47 {
  position:absolute;
  left:2px;
  top:244px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:189px;
  top:64px;
  width:130px;
  height:143px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u49 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:44px;
  top:21px;
  width:46px;
  height:43px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u51 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
