body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:123px;
  top:409px;
  width:74px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:116px;
  top:425px;
  width:88px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:104px;
  width:320px;
  height:124px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:124px;
}
#u5 {
  position:absolute;
  left:2px;
  top:54px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:126px;
  width:320px;
  height:59px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:59px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:16px;
  top:384px;
  width:288px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u9 {
  position:absolute;
  left:12px;
  top:238px;
}
#u9_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:54px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:54px;
}
#u11 {
  position:absolute;
  left:2px;
  top:19px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:111px;
  top:26px;
  width:74px;
  height:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:16px;
  top:310px;
  width:288px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:271px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:288px;
  height:1px;
}
#u15 {
  position:absolute;
  left:122px;
  top:350px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u16_img.disabled {
}
#u16.disabled {
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:120px;
  top:330px;
  width:81px;
  height:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:10px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-3px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:122px;
  top:428px;
  width:74px;
  height:20px;
  overflow:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:7px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:70px;
  word-wrap:break-word;
}
#u22_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:222px;
  width:320px;
  height:10px;
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u28 {
  position:absolute;
  left:122px;
  top:78px;
  width:64px;
  height:11px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:11px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:260px;
  top:75px;
  width:47px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-1px;
  top:64px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:13px;
  top:12px;
  width:9px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u36 {
  position:absolute;
  left:10px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:131px;
  top:191px;
  width:59px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:640px;
  overflow:hidden;
  visibility:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u41 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u43 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u45 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u47 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u49 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u51 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u53 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u55 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state8 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state8_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u57 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state9 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state9_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u59 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_state10 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:640px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state10_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u61 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:0px;
  top:21px;
  width:320px;
  height:44px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u64 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:50px;
  top:37px;
  width:37px;
  height:13px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:13px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-2px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:13px;
  top:37px;
  width:17px;
  height:13px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u68 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:300px;
  top:33px;
  width:5px;
  height:24px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:24px;
}
#u70 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:278px;
  top:21px;
  width:42px;
  height:42px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:42px;
}
#u72 {
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:0px;
  top:22px;
  width:39px;
  height:42px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:42px;
}
#u74 {
  position:absolute;
  left:2px;
  top:13px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:1px;
  top:64px;
  width:160px;
  height:504px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:504px;
}
#u76 {
  position:absolute;
  left:2px;
  top:244px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:189px;
  top:64px;
  width:130px;
  height:143px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:143px;
}
#u78 {
  position:absolute;
  left:2px;
  top:64px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:44px;
  top:21px;
  width:46px;
  height:43px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:43px;
}
#u80 {
  position:absolute;
  left:2px;
  top:14px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
